<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>[):]</string>
		<key>face_id</key>
		<string>ee_1</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:D]</string>
		<key>face_id</key>
		<string>ee_2</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[;)]</string>
		<key>face_id</key>
		<string>ee_3</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:-o]</string>
		<key>face_id</key>
		<string>ee_4</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:p]</string>
		<key>face_id</key>
		<string>ee_5</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(H)]</string>
		<key>face_id</key>
		<string>ee_6</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:@]</string>
		<key>face_id</key>
		<string>ee_7</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:s]</string>
		<key>face_id</key>
		<string>ee_8</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:$]</string>
		<key>face_id</key>
		<string>ee_9</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:(]</string>
		<key>face_id</key>
		<string>ee_10</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:&apos;(]</string>
		<key>face_id</key>
		<string>ee_11</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:|]</string>
		<key>face_id</key>
		<string>ee_12</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(a)]</string>
		<key>face_id</key>
		<string>ee_13</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[8o|]</string>
		<key>face_id</key>
		<string>ee_14</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[8-|]</string>
		<key>face_id</key>
		<string>ee_15</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[+o(]</string>
		<key>face_id</key>
		<string>ee_16</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[&lt;o)]</string>
		<key>face_id</key>
		<string>ee_17</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[|-)]</string>
		<key>face_id</key>
		<string>ee_18</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[*-)]</string>
		<key>face_id</key>
		<string>ee_19</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:-#]</string>
		<key>face_id</key>
		<string>ee_20</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[:-*]</string>
		<key>face_id</key>
		<string>ee_21</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[^o)]</string>
		<key>face_id</key>
		<string>ee_22</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[8-)]</string>
		<key>face_id</key>
		<string>ee_23</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(|)]</string>
		<key>face_id</key>
		<string>ee_24</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(u)]</string>
		<key>face_id</key>
		<string>ee_25</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(S)]</string>
		<key>face_id</key>
		<string>ee_26</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(*)]</string>
		<key>face_id</key>
		<string>ee_27</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(#)]</string>
		<key>face_id</key>
		<string>ee_28</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(R)]</string>
		<key>face_id</key>
		<string>ee_29</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[({)]</string>
		<key>face_id</key>
		<string>ee_30</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(})]</string>
		<key>face_id</key>
		<string>ee_31</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(k)]</string>
		<key>face_id</key>
		<string>ee_32</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(F)]</string>
		<key>face_id</key>
		<string>ee_33</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(W)]</string>
		<key>face_id</key>
		<string>ee_34</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[(D)]</string>
		<key>face_id</key>
		<string>ee_35</string>
	</dict>
</array>
</plist>
